#root {
  background-color: rgb(51, 224, 224);
  color: red;
  display: grid;
  grid-template-columns: auto auto auto;
}
body{
background-color: rgb(51, 224, 224);
}
/* Welcome Section*/
#welcome{
  top: 0;
  left: 0;
  text-align: center;
  font-size: 30px;
  background-color: rgb(51, 224, 224);
}
/*Select*/
select{
}
/*Searching Section*/
input{
  height: 60px;
  width: 680px;
  font-size: xx-large;
}

::placeholder{
  font-size:xx-large;
  text-align: center;
}

a{
  color:yellowgreen;
}
a:hover{
  color: rgb(192, 126, 45);
}
#episode-frame{
  background-color: aliceblue;
  border:solid;
  border-color:goldenrod;
  border-radius: 30%;
  margin:50px 15px 15px;
  text-align: center;
  padding: 5%;
}

#episode-descriptor{
  justify-items:center
}
#image{
  border-radius: 100%;
}
#footer{
  height:60px;
  background-color: black;
  color: red;
  font-size: larger;
  padding: 25px;
}
/*Shows*/
#showContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  
}
#singleShow{
  border: solid red;
}